<div class="texto">
    <H2><B> Universo Gamer </B></H2>
      <p>Bem-vindo(a) à nossa loja de jogos online! Somos uma loja especializada em games para consoles, PC e dispositivos móveis, com uma grande variedade de títulos para todas as idades e gostos.
        Em nossa loja, você encontrará os jogos mais recentes e populares do mercado, além de títulos clássicos e jogos indie. Temos opções para todos os tipos de jogadores, desde jogos de ação e aventura até simulações, jogos de corrida e jogos de estratégia.
        Oferecemos também uma ampla seleção de acessórios para gamers, como controles, headsets, teclados e mouses, para que você possa aprimorar sua experiência de jogo.</p>
  </div>  
