<div class="espaco">
<mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile>  
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Celular High-end</mat-card-title>
              <mat-card-subtitle>Promoção</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/mobile.png" alt="Celular High-end">
            <mat-card-content>
                <br>
              <p>
                Um celular high-end é um smartphone de ponta com recursos avançados e hardware potente. Esses dispositivos 
                geralmente oferecem o melhor desempenho, câmeras de alta qualidade, displays de alta resolução e recursos inovadores.
                
              </p>
            </mat-card-content>
            <div class="alinhamento">
            <mat-card-actions>
                <mat-card-title>R$ 5.000,00</mat-card-title>
              <button mat-button>Comprar</button>
            </mat-card-actions>
            </div>
    </mat-card>
</mat-grid-tile>
    <mat-grid-tile>  
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>CPU Quântico</mat-card-title>
              <mat-card-subtitle>Promoção</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/cpu.jpg" alt="computador quântico">
            <mat-card-content>
             <br>
                <p>
                Um computador quântico é um dispositivo de computação que utiliza qubits (bits quânticos) em vez de bits clássicos
                 para realizar cálculos. Esses qubits podem estar em múltiplos estados simultaneamente, permitindo que um computador 
                 quântico processe informações de forma exponencialmente mais rápida do que um computador clássico.
              </p>
              
            </mat-card-content>
            <div class="alinhamento">
            <mat-card-actions>
                <mat-card-title>R$ 15.000,00</mat-card-title>
              <button mat-button>Comprar</button>
            </mat-card-actions>
            </div>
          </mat-card>
        </mat-grid-tile>
    <mat-grid-tile>      
        <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Headphone</mat-card-title>
          <mat-card-subtitle>Promoção</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/headphones.jpg" alt="Headphone">
        <mat-card-content>
            <br>
          <p>
            Um headphone é um dispositivo de áudio que é usado para ouvir música ou outras formas de áudio em privado. É um tipo de fone de ouvido que cobre as orelhas, fornecendo isolamento acústico e melhor qualidade de som em relação a outros tipos de fones de ouvido.
        
        </p>
        
        </mat-card-content>
        <div class="alinhamento">
        <mat-card-actions>
          <mat-card-title>R$ 500,00</mat-card-title>
          <button mat-button>Comprar</button>
        </mat-card-actions>
    </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>      
        <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Game Boy</mat-card-title>
          <mat-card-subtitle>Promoção</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/game-boy.jpg" alt="game-boy">
        <mat-card-content>
            <br>
          <p>
            O Game Boy é um console de videogame portátil desenvolvido pela Nintendo, lançado originalmente em 1989. Ele 
            foi projetado para permitir que os jogadores joguem seus jogos favoritos em qualquer lugar, sem a necessidade 
            de estar conectado a uma TV ou console de mesa.
          
          </p>
        </mat-card-content>
        <div class="alinhamento">
        <mat-card-actions>
            <mat-card-title>R$ 1.000,00</mat-card-title>
          <button mat-button>Comprar</button>
        </mat-card-actions>
    </div>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>
